# Linux server / Portainer Stack
BOT_TOKEN=1234567890:replace_me
UPLOAD_TOKEN=replace_with_a_long_random_secret
ALLOWED_USER_IDS=123456789
HTTP_PORT=8080
MAX_UPLOAD_BYTES=9500000
OFFLINE_AFTER_SECONDS=30
